.textInput {
    width: 100%;
    margin-bottom: 35px;
}

.labelCopy {
    font-size: var(--font-size-base-18);
}

.input {
    border: 4px solid var(--black);
    font-size: var(--font-size-base-22);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 14px;
    height: 70px;
    width: 100%;
    composes: content-flip from global;
}

.input::-ms-clear {
    display: none;
}

.input:focus {
    border: 5px solid var(--black);
    outline: 3px solid var(--yellow);
    box-shadow: 0 0 0 4px hsl(0, 0%, 0%);
}

.redOutline {
    outline: 4px solid var(--red);
}

.redText {
    color: var(--red);
    font-weight: bold;
    font-size: var(--font-size-base-18);
    line-height: var(--font-size-base-28);
    margin: 1px 0 0 -5px;
}