.DefaultColumnLayout_page__3bHKG {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    background-color: var(--lgray)
}

.DefaultColumnLayout_content__3r8BA {
    width: 90%;
    padding: 16px 5.25px 24px
}

@media (max-width:374px) {
    .DefaultColumnLayout_content__3r8BA {
        padding: 16px;
        width: 100%
    }
}

@media (min-width:768px) {
    .DefaultColumnLayout_content__3r8BA {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%
    }
}

@media (min-width:1200px) {
    .DefaultColumnLayout_content__3r8BA {
        width: 1200px;
        padding-top: 45px
    }
}

.DefaultStickyFooter_contentContainer__1Z1zn {
    width: 100%;
    max-height: 100%
}

.DefaultStickyFooter_content__3_7Uf {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: center
}

@media (min-width:1200px) {
    .DefaultStickyFooter_content__3_7Uf {
        padding: 0 24px;
        margin: 0 auto
    }
}

.AddressConfirmation_row__17Nvt {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.AddressConfirmation_right__jXRzt {
    flex: 0.9 1
}

.AddressConfirmation_mapLoad__wXpx4 {
    min-height: 100%
}

.AddressConfirmation_mapContainer__BaGXM {
    height: 400px
}

.AddressConfirmation_mapElement__3KxgA {
    min-height: 100%
}

.AddressConfirmation_addressCopy__1AdmO {
    direction: ltr
}

@media (max-width:768px) {
    .AddressConfirmation_row__17Nvt {
        flex-flow: column
    }
    .AddressConfirmation_right__jXRzt {
        padding: 30px 0
    }
}

@media (min-width:768px) {
    .AddressConfirmation_addressCopy__1AdmO {
        font-size: var(--font-size-base-18);
        line-height: var(--font-size-base-28)
    }
    .AddressConfirmation_row__17Nvt {
        flex-flow: row
    }
    .AddressConfirmation_left__CuDN1 {
        flex: 0 0 50%
    }
    .AddressConfirmation_right__jXRzt {
        flex: 0 0 50%;
        padding-top: 0
    }
}

@media (min-width:1200px) {
    .AddressConfirmation_addressCopy__1AdmO {
        font-size: var(--font-size-base-20);
        line-height: var(--font-size-base-32)
    }
}

@media (max-width:375px) {
    .AddressConfirmation_addressCopy__1AdmO {
        font-size: var(--font-size-base-18)
    }
}

.TextInput_textInput__3IVuM {
    width: 100%;
    margin-bottom: 35px
}

.TextInput_labelCopy__3QdyM {
    font-size: var(--font-size-base-18)
}

.TextInput_input__3U6LA {
    border: 4px solid var(--black);
    font-size: var(--font-size-base-22);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 14px;
    height: 70px;
    width: 100%
}

.TextInput_input__3U6LA::-ms-clear {
    display: none
}

.TextInput_input__3U6LA:focus {
    border: 5px solid var(--black);
    outline: 3px solid var(--yellow);
    box-shadow: 0 0 0 4px #000
}

.TextInput_redOutline__1pmsK {
    outline: 4px solid var(--red)
}

.TextInput_redText__2PLGU {
    color: var(--red);
    font-weight: 700;
    font-size: var(--font-size-base-18);
    line-height: var(--font-size-base-28);
    margin: 1px 0 0 -5px
}

.LoadingSpinner_container__2gj64 {
    --spinnerSize: 24px;
    --spinnerThickness: 3px;
    display: inline-block;
    width: var(--spinnerSize);
    height: var(--spinnerSize);
    margin: var(--spinnerMargin)
}

.LoadingSpinner_spinner__3vCeX {
    width: var(--spinnerSize);
    height: var(--spinnerSize);
    -webkit-animation: LoadingSpinner_spinner__3vCeX 1.2s linear infinite;
    animation: LoadingSpinner_spinner__3vCeX 1.2s linear infinite
}

@-webkit-keyframes LoadingSpinner_spinner__3vCeX {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes LoadingSpinner_spinner__3vCeX {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.AddressMatch_match__16U1r {
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    box-sizing: border-box;
    padding: 10px 20px
}

.AddressMatch_match__16U1r.AddressMatch_active__NYJCf,
.AddressMatch_match__16U1r.AddressMatch_active__NYJCf .AddressMatch_matchInner__3UBVH,
.allowHover .AddressMatch_match__16U1r:hover,
.allowHover .AddressMatch_match__16U1r:hover .AddressMatch_matchInner__3UBVH {
    background-color: var(--yellow)
}

.AddressMatch_matchInner__3UBVH {
    font: inherit;
    background-color: var(--white);
    color: var(--black);
    font-size: var(--font-medium);
    font-family: Arial
}

.TitleForm_formContainer__3Q1HB {
    width: 100%
}

@media (min-width:376px) {
    .TitleForm_formContainer__3Q1HB {
        width: 80%
    }
}

@media (min-width:769px) {
    .TitleForm_formContainer__3Q1HB {
        width: 60%
    }
}

.AddressLookup_addressLookup__8Xpn- {
    max-width: 75%
}

form {
    position: relative;
    margin: 0 0 100px
}

@media (min-width:769px) {
    .AddressLookup_bodyCopy__3zwdJ {
        font-size: var(--font-size-base-20);
        line-height: var(--font-size-base-28)
    }
}

@media (min-width:1200px) {
    form {
        margin-bottom: 0
    }
}

.AddressLookup_searchContainer__FWegw {
    width: 100%;
    max-width: 450px
}

div.AddressLookup_searchInput__1-CGj {
    margin-bottom: 0
}

.AddressLookup_matches__1-tef {
    margin: 0;
    list-style-type: none;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    background-color: var(--white);
    border-top: 1px solid var(--gray);
    padding: 0
}

.AddressLookup_voterLookupLinkButton__gS7l9 {
    margin-top: 150px
}

/*# sourceMappingURL=4.ce3434b7.chunk.css.map */