.TextInput_textInput__3IVuM {
    width: 100%;
    margin-bottom: 35px
}

.TextInput_labelCopy__3QdyM {
    font-size: var(--font-size-base-18)
}

.TextInput_input__3U6LA {
    border: 4px solid var(--black);
    font-size: var(--font-size-base-22);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 14px;
    height: 70px;
    width: 100%
}

.TextInput_input__3U6LA::-ms-clear {
    display: none
}

.TextInput_input__3U6LA:focus {
    border: 5px solid var(--black);
    outline: 3px solid var(--yellow);
    box-shadow: 0 0 0 4px #000
}

.TextInput_redOutline__1pmsK {
    outline: 4px solid var(--red)
}

.TextInput_redText__2PLGU {
    color: var(--red);
    font-weight: 700;
    font-size: var(--font-size-base-18);
    line-height: var(--font-size-base-28);
    margin: 1px 0 0 -5px
}

.DefaultStickyFooter_contentContainer__1Z1zn {
    width: 100%;
    max-height: 100%
}

.DefaultStickyFooter_content__3_7Uf {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: center
}

@media (min-width:1200px) {
    .DefaultStickyFooter_content__3_7Uf {
        padding: 0 24px;
        margin: 0 auto
    }
}

.VoterLookupFooter_bodyCopy__bPLx- {
    margin-bottom: 0;
    margin-right: 20px
}

.VoterLookupFooter_voterLookupFooterButton__2J94T svg {
    margin-left: 16px
}

.DefaultColumnLayout_page__3bHKG {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    background-color: var(--lgray)
}

.DefaultColumnLayout_content__3r8BA {
    width: 90%;
    padding: 16px 5.25px 24px
}

@media (max-width:374px) {
    .DefaultColumnLayout_content__3r8BA {
        padding: 16px;
        width: 100%
    }
}

@media (min-width:768px) {
    .DefaultColumnLayout_content__3r8BA {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%
    }
}

@media (min-width:1200px) {
    .DefaultColumnLayout_content__3r8BA {
        width: 1200px;
        padding-top: 45px
    }
}

.TitleForm_formContainer__3Q1HB {
    width: 100%
}

@media (min-width:376px) {
    .TitleForm_formContainer__3Q1HB {
        width: 80%
    }
}

@media (min-width:769px) {
    .TitleForm_formContainer__3Q1HB {
        width: 60%
    }
}

.SelectField_selectField__3uhnK {
    width: 100%;
    margin-bottom: 35px
}

.SelectField_labelCopy__1oIbQ {
    font-size: var(--font-size-base-18)
}

.SelectField_select__1G_Y9 {
    border: 4px solid var(--black);
    font-size: var(--font-size-base-22);
    display: flex;
    flex-direction: column;
    line-height: var(--font-size-base-22);
    margin-top: 10px;
    padding: 18px;
    height: 70px;
    width: 100%;
    -webkit-appearance: none;
    background-image: url(/static/media/chevronDownBlack.a9bac4b3.svg);
    background-position: 97%;
    background-repeat: no-repeat
}

.SelectField_select__1G_Y9:focus {
    border: 5px solid var(--black);
    outline: 4px solid var(--yellow);
    box-shadow: 0 0 0 5px #000
}

.SelectField_redOutline__r9kQU {
    outline: 4px solid var(--red)
}

.SelectField_redText__J3rS- {
    color: var(--red);
    font-weight: 700;
    font-size: var(--font-size-base-18);
    line-height: var(--font-size-base-28);
    margin: 1px 0 0 -5px
}

.VoterLookupPrimary_form__48L-7 {
    margin-bottom: 100px
}

@media (min-width:1200px) {
    .VoterLookupPrimary_form__48L-7 {
        margin-bottom: 0
    }
}

.VoterLookupPrimary_bodyCopy__17yQv {
    margin-bottom: 30px
}

.VoterLookupPrimary_addressBodyCopy__o4U8m {
    font-size: var(--font-size-base-14);
    margin-bottom: 0
}

@media (min-width:768px) {
    .VoterLookupPrimary_bodyCopy__17yQv,
    .VoterLookupPrimary_labelCopy__2sEuP {
        font-size: var(--font-size-base-18);
        line-height: var(--font-size-base-28)
    }
}

@media (min-width:1200px) {
    .VoterLookupPrimary_bodyCopy__17yQv {
        font-size: var(--font-size-base-20);
        line-height: var(--font-size-base-32)
    }
    .VoterLookupPrimary_dayField__3o39E span,
    .VoterLookupPrimary_labelCopy__2sEuP,
    .VoterLookupPrimary_monthField__2Gl2a span,
    .VoterLookupPrimary_nameField__gLhnz span,
    .VoterLookupPrimary_yearField__1jsDO span {
        font-size: var(--font-size-base-18);
        line-height: var(--font-size-base-28)
    }
}

.VoterLookupPrimary_dobInputs__1G2RG {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.VoterLookupPrimary_monthField__2Gl2a {
    flex: 0 0 62%;
    margin-bottom: 14px !important;
    margin-right: 4%
}

.VoterLookupPrimary_dayField__3o39E {
    flex: 0 0 33%;
    margin-bottom: 14px
}

.VoterLookupPrimary_yearField__1jsDO {
    flex: 0 0 50%
}

.VoterLookupPrimary_twoColumnDOBField__2RE3r:first-child {
    margin-right: 4%
}

.VoterLookupPrimary_twoColumnDOBField__2RE3r:last-child {
    margin-left: 4%
}

.VoterLookupPrimary_houseNumField__34LOQ {
    padding-top: 10px
}

@media (max-width:787px) {
    .VoterLookupPrimary_preferLine__xJ12V {
        border-top: 1px solid var(--review-gray);
        padding-top: 35px
    }
}

@media (min-width:768px) {
    .VoterLookupPrimary_monthField__2Gl2a {
        flex: 0 0 50%;
        margin-right: 4%
    }
    .VoterLookupPrimary_dayField__3o39E {
        flex: 0 0 21%;
        margin-right: 4%
    }
    .VoterLookupPrimary_yearField__1jsDO {
        flex: 0 0 21%
    }
    .VoterLookupPrimary_houseNumField__34LOQ {
        margin-bottom: 72px
    }
    .VoterLookupPrimary_addressButton__3yqyb {
        font-size: var(--font-size-base-18)
    }
}

.VoterLookupPrimary_sampleDob__EUlP9 {
    margin-bottom: 0
}

a {
    color: var(--blue);
    text-decoration: underline;
    font-weight: 700
}

@media (min-width:1200px) {
    .VoterLookupWarningModal_bodyCopy__27WS_ {
        font-size: var(--font-size-base-20)
    }
}

@media (min-width:768px) {
    .VoterLookupWarningModal_navButton__lUXoa {
        height: 64px;
        width: 235px
    }
}

@media (max-width:374px) {
    .VoterLookupAskForMoreModal_accommodateLongText__qangR {
        padding: 0 5px;
        max-width: 47%
    }
}