.customContent {
    position: relative;
    max-height: 100%;
    width: 100%;
    background-color: var(--white);
}

.content {
    composes: fwhite cblack from global;
    padding: 7px;
    min-height: 100%;
}

.scroller {
    position: absolute;
    bottom: 0;
    right: 2em;
    display: none;
    width: 10em;
}

/* desktop */

@media (min-width: 992px) {
    .scroller {
        display: flex;
    }
}

.heading {
    margin-bottom: 0.25em;
    font-family: 'Noto Sans Light';
    font-size: var(--font-size-base-24);
    line-height: var(--font-size-base-36);
}

/* Small devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .heading {
        font-size: var(--font-size-base-32);
        line-height: var(--font-size-base-48);
    }
}

.header {
    composes: multilang-support from global;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    font-size: var(--font-size-base-14);
    height: 44px;
    font-family: 'Noto Sans Bold';
    line-height: var(--font-size-base-16);
    vertical-align: middle;
    padding: 17px 7px;
}

/* Small devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .header {
        height: 38px;
    }
}

/* Small devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .header {
        padding: 0 24px;
    }
}

/* Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .header {
        height: 60px;
        padding: 17px 24px;
    }
}

.hr {
    margin-bottom: 24px;
}

@media (min-width: 376px) {
    .content {
        padding: 24px;
    }
}

@media (min-width: 769px) {
    .content {
        padding: 44px;
    }
}