.page {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: var(--lgray);
    composes: content-flip from global;
}